<footer>
	<aside>
		<div class="layout">
			<% include ../content/findus.ejs %>
		</div><!--layout-->
	</aside>

	<section class="layout">
		
		<div class="content">
			<span id="copyright">&copy Jessica Oberst</span>
			<a title="Privacy Policy" href"#">Privacy Policy</a>
			<a title="Terms of Service" href"#">Terms of Service</a>
		</div>
	</section><!--layout-->
</footer>