<footer>
	<section class="layout">
		&copy Jessica Oberst
		<div class="content">
			<a title="Privacy Policy" href"#">Privacy Policy</a>
			<a title="Terms of Service" href"#">Terms of Service</a>
		</div>

	</section><!--layout-->

	<aside>
		<div class="">

			<h4>Find Us On:</h4>	
			<p>glass frog icon/link/alt, confluence icon/link/alt, mushroom icon/link/alt
			(like social)</p>
		</div><!--content-->
	</aside>
</footer>