



	<header>

		<a class="logo" title="FOCAL" href="/"><span>FOCAL</span></a>
		
		<div class="hero">
			<h1>Fellowship of Collaborative Accelerated Learning</h1>
			<a class="button" title="Learn to code" href="#">Learn to code</a>
		</div><!--hero-->

	</header>


