



	<header>

		<a class="logo" title="FOCAL" href="/"><span>FOCAL</span></a>
		
		<div class="hero">
			<h1>Fellowship of Collaborative Accelerated Learning</h1>
			<input id="input-txt" type="text" name="email" placeholder="Enter your email">
			<a class="button" id="ltc" title="Learn to Code Today!" href="#">Learn to Code Today!</a>

			
			

		</div><!--hero-->


	

	</header>


