



	<header>

		<a class="logo" title="FOCAL" href="#"><span>FOCAL</span></a>
		
		<div class="hero">
			<h1>Fellowship of Collaborative Accelerated Learning</h1>
			<a class="button" title="Learn to code" href="#">Learn to code</a>
		</div><!--hero-->

	</header>

			<!--<section class="layout">
				<img src="#" id="jumbo" alt="Focal Logo">
				
				<div class "logo">
					<a href="/"><img src="/images/misc/focalproductions.png" alt="Focal Logo">insert image into and correct file name here
					</a>

				</div><!-logo->
			</section><!-layout-->

		
