<nav>
	<ul>
		<li>
			<a title="About Us" href="/about" aria-haspopup="true">About Us</a>
			<ul>
				<li>
					<a title="Our Story" href="#">Our story</a>
				</li>
				<li>
					<a title="Who We Are" href="#">Who we are</a>
				</li>
				<li>
					<a title="Strategies" href="/strategies">Strategies</a>
				</li>
			</ul>
		</li>
		<li>
			<a title="Get Started" href="/getstarted" aria-haspopup="true">Get Started</a>
			<ul>
				<li>
					<a title="Independent Study" href="#">Independent study</a>
				</li>
				<li>
					<a title="Mentorship Program" href="#">Mentorship program</a>
				</li>
				<li>
					<a title="Project Ideas" href="#" aria-haspopup="false">Project Ideas</a>
				<!--<ul>
						<li>
							<a title="Sub Sub Link 1" href="#">Sub Link 1</a>
						</li>
						<li>
							<a title="Sub Sub Link 2" href="#">Sub Link 2</a>
						</li>
					</ul>-->
				</li>
			</ul>
		</li>
		<li>
			<a title="Blogs" href="/blogs" aria-haspopup="true">Blogs</a>
			<ul>
				<li>
					<a title="Focal Blog" href="#">Focal Blog</a>
				</li>
				<li>
					<a title="Members Blog" href="#">Members Blog</a>
				</li>
			</ul>
		</li>
		<li>
			<a title="Contact Us" href="#">Contact Us</a>
		</li>
	</ul>
</nav>


