/*-------------------------------------------
Llamasite
Jessica Oberst
January 24th, 2016
---------------------------------------------
1. Global Styles
2. Header and Nav Styles
3. Body Styles
4. Sidebar Styles
5. Footer Styles
6. Blog posts and Forms
7. Media Layouts - Changing Styles
-------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);


/*-------------------------------------------
1. Global Styles
--------------------------------------------*/
body {
	margin: auto;
  	padding: 50px;
  	font-family: 'Open Sans', sans-serif;
  	background-color: #fff; /*white */
  	font size: 16px;
  	font-weight: 300;
  	color: #555; /*medium gray*/
  	margin: 0;
  	padding: 0;
}
#container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* Text */
h1 {
	margin: .5em 0 .8em 0;
	font-size: 2.7em;
	font-weight: 700;
}
h2 {
	margin: 0 0 .5em 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1em;
}
h3 {
	margin: 0 0 .5em 0;
	font-size: 1.3em;
	font-weight: 700;
}
h3 {
	margin: 0 0 1.5em 0;
	font-size: 1em;
	font-weight: 700;
}
p {
	margin: 0 0 1em 0;
}
a {
	color: #007eff;
}
a:visited {
	color: #65b1ff;
}
a.button {
	font-size: 1.2em;
	text-decoration: none; /* remove underline*/
	color: #fff; /*white*/
	border: 1px solid #fff;
	padding: 4px 15px;
	transition: background-color .5s; /*animation time/seconds*/
}
a.button:hover {
	background-color: rgba(0, 0, 0,.3); /*alpha/transparency 30% opaque/70% transparent*/
}


/*-------------------------------------------
2. Header and Nav Styles
--------------------------------------------*/
nav {
	background-color: rgba(0,0,0,.65);
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 50px 0 0 0;
	width: 100%;
	z-index: 1
}
nav:after {
	content: ''; 
	display: block;
	clear: both;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li:hover {
	background-color: #122232; /*deep space blue*/
}
nav ul li:hover > ul {
	display: block;
}
nav ul li a {
	display: block;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	width: 125px; /*submenus*/
	position: relative;
}
nav ul li a:visited {
	color: #fff;
}
nav ul li a:hover {
	background-color: #1a4276; /*brighter blue*/
}
nav ul ul {
	position: absolute; /*nav ignore height of submenu items*/
	top: 100%;
	background-color: #122232; /*static submenu item color*/
	display: none;
}
nav ul ul li {
	position: relative; /*position in relation to parent*/
}
nav ul ul ul {
	left: 100%;
	top: 0px;
}



/*top-level*/
/*only target first child element*/
nav > ul {
	padding-left: 200px;
}
nav > ul > li{
	float: left;
}
nav > ul > li > a {
		width: auto;
		padding: 10px 29px 15px 20px;
}

/*all nav anchors have right arrow shape from border tricks */
nav a[aria-haspopup="true"]:after {
	content: '';
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 16px;
	right: 16px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #fff;
}

/*top menu items only*/
nav > ul > li > a[aria-haspopup="true"]:after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	left: 20px;
	right: auto; /*override above right property*/
	bottom: 6px; /*override above top property*/
	top: auto;
}

/*header*/
header {
	height: 650px;
	background: #fff url(../images/spaceyllama-650.png) no-repeat center bottom; 
	position: relative;
}
header a.logo {
	position: absolute; /*position in relation to header*/
	display: block;
	width: 160px; /*match size of logo graphic*/
	height: 81px;
	background: url(../images/focallogo.png) no-repeat 0 0;
	background-size: contain; /* fit within height and width*/
	top: 8px; 
	left: 20px; 
	z-index: 2
}
header a.logo span {
	display: none; /*hide html text*/
}
header div.hero {
	position: absolute;
	width: 42%;
	top: 185px;
	left: 58%;
}
header div.hero h1 {
	line-height: 1em;
	margin: 0 0 30px 0;
	color: #fff; /*white*/
}


/*-------------------------------------------
3. Body Styles
--------------------------------------------*/

/*all sections*/
section { 
	padding: 0 30px;
} 
/*pseudo html element*/
section:after {
	content: '';
	display: block;
	clear: both;
}

/*whatisfocal, whatweoffer, and whyjoin*/
section.main {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
}
section p#hover {
	font-size: 1.2em;
	border: 1px solid #000;
	padding: 4px 15px;
	width: 270px;
	border-radius: 3px;
	transition: background-color .5s; /*animation time/seconds*/
}
section p#hover:hover {
	background-color: rgba(0, 0, 0,.7); /*alpha/transparency 30% opaque/70% transparent*/
	color: #fff; /*white*/
}
section ul#expand{
	display:none;
}
section p#hover:hover ~ul#expand {
	display: block;
}
section.main aside {
	width: 33%;
	float: left;
	text-align: center;
}

/*whatweoffer*/
section.main .content {
	margin: 15px;
	background: no-repeat center top; /* x position to center and y position to top */
	background-size: 75px 75px;
	padding-top: 80px;  /*make room for background size height*/
}	
section.main aside h3 a {
	color: #000; /*black*/
	text-decoration: none;
}
section.main aside h3 a:hover {
	text-decoration: underline; 
}
section.main aside .content.independent {
	background-image:  url(../images/pixelllama-right.png);
}
section.main aside .content.mentorship {
	background-image:  url(../images/mentorllamas.png);
}
section.main aside .content.projects {
	background-image:  url(../images/projectllamas.png);
}

/*everyonewelcome*/
section.everyonewelcome {
	background-color: rgba(0,0,0,.8);
	padding-top: 5px;
	padding-bottom: 30px;
	color: #fff;
}
section.everyonewelcome article {
	padding: 0 20px 0 515px;
	background: url(../images/jupiterllama.png) no-repeat 0 5px;
	min-height: 240px;
}

/*whyjoin*/
section.main .whyjoin h3 {
	font-size: 1.4em;
} 
section.main .whyjoin p {
	padding: 5%;
}

/*blockquote*/
section.inspiration {
	background-color: #f7f7f7;
	position: relative;
	padding: 20px 5%;
	margin: 0 60px;
}
section.inspiration blockquote { 
	width: 50%;
	height: 220px;
	float: left;
	background-color: #fff;
	position: absolute;
	bottom: 50px;
	top: 7%;
	left: 5%;
	padding: 30px 20px 0px -410px;
}
section.inspiration div.llamacorn {
	height: 246px;
	width: 30%;
	float: right;
	background: url(../images/llamacorn.jpg) repeat center;
	box-shadow: 0px 0px 45px 20px #888888 inset;
	margin-right: 4%; 
	min-width: 220px;
	display: block;
}

/*thoughtbubble*/
section.inspiration div.llamacorn:hover ~ div#tooltip{
	display: block;
	left: 57%;
    top: -50%

}
section.inspiration blockquote p {
	margin: 50px 30px 20px 50px;
}
section.inspiration blockquote p.quote {
	font-style: italic;
	font-size: 1.2em;
	padding-left: 15px;
	padding-top: 
}
section.inspiration blockquote p.credit  {
	color: #777;
	font-size: 1em;
	margin-top: 0;
	top: 0;
	left: 50%;
	padding-left: 20px;
	line-height: 1.3em;
	position: relative;
}
section.inspiration blockquote:before {
	content: '\201c';
	color: gray;
	position: absolute;
	font-size: 5em;
	font-family: serif;
	padding-left: 20px;
	padding-top: 20px;
}
section.inspiration blockquote p.quote:after {
	content: '\201d';
	color: gray;
	position: absolute;
	font-size: 4.5em;
	font-family: serif;
}
section.inspiration blockquote p.credit:before {
	content: \2014;
	position: absolute;
	padding: 50px;
}

/*tooltip*/
section.inspiration div#tooltip {
	max-width: 200px;		
	position: absolute;
	display:none;
}
section.inspiration div.llamacorn:hover + section.inspiration div#tooltip {
	display: block;
}

/*strategies*/
section.strategies h1 {
	font-size: 1.6em;
}
section.strategies h2 {
	font-size: 1.4em;
}
section.strategies span {
	background-color: #ffffe0;
}
aside.nextmeetup p {
	font-size:1.2em;
}
aside.nextmeetup {
	display:inline-block;
}
section.main p.fontwrap{
	padding-left: 10%;
	padding-right: 10%;
}
section.main p#smallscreenshow {
		display:none;
	}



/*-------------------------------------------
5. Footer Styles
--------------------------------------------*/
footer {
	background-color: #122232; 
	width: auto;
	height: 10%;
	display: block;
	bottom: 0;
	clear: both;
	padding: 10px;
	font-size: .8em;
	margin: 40px 0;
	color: #fff;
	padding: 20px 10px, 10px, 10px;
}
footer .content {
	display: inline;
	text-decoration: underline;
}
footer a {
	margin-left: 30px;
	color: #fff;
}
footer a:visited {
	color: #777;
}
footer a:hover {
	color: #000;
}
footer div.layout {
	display:inline-block;
}
footer aside {
	display: inline-block;
}
footer aside div.layout {
	padding-left:20px;
}
span.socialcta {
	font-weight: 700;
	font-size: 1.2em;
	display:inline;
	float:left;
}
ul.group {
	list-style: none;
	display: inline;
	padding-left: 0px;
}
ul.group li {
	display: inline-block;	
}
li a img.icon{
	width: 50px;
	border: solid 1px black;
	border-radius:50px;
}
footer section.layout {
	display:inline-block;
	float: right;
    margin-right: 1%;
}


/*-------------------------------------------
7.Media Layouts - Changing Styles
--------------------------------------------*/
/*DESKTOP*/
/*screens below 1000px*/
@media screen and (max-width: 1000px) {
	
	h1 {
		font-size: 2.4em;
	}
	header div.hero { 
		left: 56%;
	}
	header div.hero h1 { 
		margin-bottom: 5%; 
	}
	section.everyonewelcome article {
		padding-left: 400px; 
		background-size: 375px auto;
	}
	section.inspiration blockquote {
		margin: auto;
		left: 9%;
		top: 15%;
		width: 45%;
	}
	section.inspiration blockquote p.quote { 
		font-size: 1.1em;
		line-height: 1.2em
	}
	section.inspiration blockquote p.credit {
		font-size: .95em;
		left: 25%;
		padding-left: 25%;
		width: 100px;
	}
	section.inspiration blockquote p.quote:after {
		display: none;
	}
}

/*screens below 825px*/
@media screen and (max-width: 825px) { 

	nav {
		padding-top: 20px;
	}

	header a.logo {
		height: 60px;
		top: .5%;
		left: 5px;
	}
	header div.hero h1 {
		font-size: 2.1em;
		margin-bottom: 5%;

	}
	header {
		height: 60%;
		background-image: url(../images/spaceyllama-cs825.png);
	}
	header div.hero {
		padding-left: 55px;
		background-size: 300px auto;
		top: 125px;
	}

	section.inspiration {
		margin: auto;
	}
	section.inspiration blockquote {
		margin: auto;
		left: 9%;
		top: 15%;
		width: 45%;
		padding: 20px 0px 20px 0px;
	}
	section.inspiration blockquote p.quote { 
		font-size: 1.1em;
		line-height: 1.2em
	}
	section.inspiration blockquote p.credit {
		font-size: .95em;

	}

	footer {
		height: 15%;
	}
}

/*screens below 720px*/
@media screen and (max-width: 720px) {
	h1 {font-size: 1.8 em;}
	h2 {font-size: 1.4 em;}
	h3 {font-size: 1.1 em;}
	a.button {font-size: 1em}
	header a.logo {
		 width: ; 
		 height: ;
	}
	header div.hero {
		top: 140px;
		left: 55%;
	}
	section.main {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	section.everyonewelcome article h1 {
		font-size: 1.2em;
	}
	section.main aside div.content {
		background-size: 55px 55px;
		padding-top: 60px;
	}
	section.inspiration aside div.content img {
		width: 85%
	}
	nav {
		padding-left: 115px;
	}
	nav > ul {
		padding-left: 10px;
	}
	footer section.layout {
		display:block;
		float: left;
	    padding-left: 0px;
	}

}

/*screens below 650px*/
@media screen and (max-width: 650px) {
	h1 { font-size: 1.2em; }
	h3 { margin-bottom: 9px; }
	a.button { font-size: .9em; }

	header { 
		height: 350px;
		background-image: url(../images/spaceyllama_header650.png);
		background-position: 20% top;
	}
	header a.logo {
		width: 100%;
		height: 66px;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,.65);
		background-size: 112px 46px;
		background-position: 20px center;
	}
	header div.hero {

		top: 115px;
		left: 50%;
	}
	header div.hero h1 {
		font-size: 1.8em;
	}
	section.main aside {
		width: 100%;
		float: none;
		text-align: left;
	} 
	section.main aside div.content {
		margin: 8px 20px 8px 0;
		padding: 5px 0px 10px 85px;
		background-size: 50px 50px;
		background-position: 20px 5px;
	}
	section.everyonewelcome {
		width: 80%;
		max-height: 570px;
		margin: auto;
		padding: 0px 30px 10px 30px;
	}
	section.everyonewelcome article {
		padding: 75% 20px 1% 20px;
		background-size: 425px;
		background-position: center 10%;
		min-height: 180px;
	}
	section.everyonewelcome article h1{
		background-color: #333333;
	}
	section.everyonewelcome article p{
		background-color: #333333;
	}

	section.main div.whyjoin h3 {
		font-size: 1em;
	}
	section.main div.whyjoin p {
		font-size: .9em;
	}
	section.inspiration {
		max-height: 10%
		position: relative;
	}
	section.inspiration blockquote {
		width: 82%;
		height: 50%;
		position: absolute;
	}
	section.inspiration div.llamacorn {
		visibility: hidden; /*hide llamacorn img*/
	}
	section.inspiration blockquote p.quote {
		padding-left: 0px;
		text-align: center;
		display: block;
		margin-top: 50px;
	}
	section.inspiration blockquote:before {
		padding-left: 6%;
	}
	section.inspiration blockquote p:after {
		display: inline-block;
		padding-left: 93%;
	}
	section.inspiration blockquote p.credit {
		padding-left: 48%;
		margin: 0px 0px;
	}
	section.main p.fontwrap{
		padding: 0 0 0 0;
	}
	nav { 
		position: static;
		width: auto;
		padding: 20px 15px;
		background-color: #122232;
	}
	/*all ul elements in nav*/
	nav ul,
	nav ul ul,
	nav ul ul ul { 
		display: block;
		position: static;
	}
	/*top-level ul*/
	nav > ul {
		padding: 0;
	}
	/*top-level li's*/
	nav > ul > li {
		float: none;
		margin-top: 25px;
	}
	nav ul li:hover {
		background: none;
	}
	/*create "mobile" nav style*/
	nav ul li a {
		width: auto;
		display: block;
		margin: 8px 10px;
		padding: 8px 15px;
		border: 1px solid rgba(255, 255, 255, .25);
	}
	/*add transparent white hover color*/
	nav ul li a:hover {
		background-color: rgba(255, 255, 255, .2);
	}
	/*remove backgroung-properties*/
	nav ul ul {
		background: none;
	}
	/*indent submenus*/
	nav ul ul li a {
		margin-left: 30px;
	}
	/*indent submenus*/
	nav ul ul ul li a {
		margin-left: 60px;
	}
	/*remove triangles*/
	nav a[aria-haspopup="true"]:after {
		display: none;
	}
	footer div.content {
		display: block;
		margin-top: 15px;

	}
	footer div.content a {
		margin: 0px 20px 0px 0px;
	}
	footer span#copyright {
		margin-right: 20px;
	}

	section.main p#smallscreenshow {
		display:inline-block;
	}
}

/*screens below 520px*/
@media screen and (max-width: 520px) {
	/*cremove white space on right side of screen ios*/
	html, body { 
		width:100%;  
		overflow:hidden; 
	}

	header div.hero {
		top: 115px;
		left: 35%;
	}
	header div.hero h1 {
		font-size: 1.3em;
		padding-bottom: 20px;
	}
	section.main p.fontwrap{
		padding: 0 0 0 0;
	}

	section.inspiration blockquote p.quote {
		margin-top: 30px;
	}
	/*social cta*/
	section.main p#smallscreenhide {
		display:none;
	}
	section.inspiration blockquote p.credit {
		padding-left: 40%;
		margin: 0px 0px;
	}

	aside.findus span.socialcta {
		display: none;
	}
	footer {
		height: 20%;
	
}



