<aside id="badges">

<h1>Badges!</h1>
<h2>Learn to Earn</h2>

<p>pull in badge imgs to display in a grid

each one links to new tab mushroom page for badges

for now a pop up window shows maybe (something that expands upon rollloverperhaps)</p>

</aside><!--aside-->
