<section class="everyonewelcome">
	<article>
		<h1>Everyone is Welcome</h1>

		<p>FOCAL is for anyone who is looking to learn, looking to help mentor, and/or have ideas about a tool that might make their job or Zappos processes more efficient.</p>

		<a class="button" href="mailto:ithelpdesk@zappos.com?cc=joberst@zappos.com&subject=FOCAL!&body=Hello,%20please%20add%20me%20to%20the%20FOCAL%20DL!" title="Join the DL" href="#">Join the DL</a>
	</article>
</section>

