<aside class="findus">
	<!--<span class="title">Find us on:</span>-->

	<h1>Find Us On:</h1>

	
	<p>glass frog icon/link/alt, confluence icon/link/alt, mushroom icon/link/alt

	(like social)
	</p>

</aside>

