<section class="get-involved">

	<article>
		<h2>Get Involved</h2>
		<p>Regardless of experience, role or current skill level. Here are some different ways you can get involved:</p>
		<a class="button" title="Everyone is Welcome" href="#">Learn More</a>
		
		This is the learn more data
			<ul> 
				<li>FOCAL Path: I just want to learn!</li>
				<li>FOCAL Projects: I've learned enough for now and want to work on a project</li>
				<li>FOCAL Mentor Connections: I know enough to help others on their path to learning</li>
				<li>FOCAL Community FuzzBuzz: I'm passionate about this initiative and helping to move it forward by creating a buzz in the community</li>
				<li>FOCAL Content and Communications:  I'm interested in creating learning content and keeping members' minds stimulated by discovering, developing and sharing new resources.</li>
			</ul> This is the learn more data
	</article>

</section><!--atmosphere-->



