<section class="strategies">
	<h1></h1>
	<p></p>
<p>Focal is a sub circle of Pursue Growth and Learning circle. We subscribe to the <a title="PGandL Vision" href="https://www.evernote.com/shard/s209/sh/35dd2c56-7770-45c6-a207-7e64c7c0b951/3d6b5b2a5c41d610">Pursue Growth and Learning: Guiding Vision and Principles</a></p>
</br>

<h1>Goals and Targets - What we’d like to accomplish</h1>

<p>Create a fiercely skilled and empowered and connected workforce through training programs powered by Lynda.com, supplemented with free online resources, partnered with the power of mentorship.</p>

<p>Anyone who wants to discover their passion or dispassion for learning to code has the opportunity, structure and support to do so.
Anyone who is interested in being a part of the tech department has opportunity, structure and support to do so.</p>
</br>

<h1>Objectives - Measurable, Start with a verb - Success Metrics</h1>
          
          <p>Increase employee perceived value to the company, satisfaction, and confidence.</p>
     
          
          <p>Increase internal promotions - Develop and retain talent in the organiation - positive financial impact to the business</p>
   
      
          <p>Increased engagement at work - positive impact on culture and efficiencies</p>

     
          <p>Increased support and awareness of other internal programs: Hero’s Journey, Transition Support, Mentorship, - higher success rate for internal efforts</p>
     
     
          <p>Increased entrepreneurial mindset - Company grows closer to achieving teal organization ‘status'</p>

 </br>       

<h1>Strategies - WHY we are doing what we are doing</h1>


An organization made up of employees skilled at creating, acquiring, and transferring knowledge. Zapponians help cultivate tolerance, foster open discussion, and think holistically and systemically. As a company, we will be able to adapt to the unpredictable more quickly than their competitors. <a href="https://hbr.org/2008/03/is-yours-a-learning-organization">Is Yours a Learning Organization?</a></p>


<p><strong>case study:</strong> David is interested in tech and aspires to learn how the tech department at Zappos functions and to <span>discover his passion or dispassion for coding</span>. Through the 90-day program, he learns how to build and deploy a website, shadows with different departments in tech, and meets new people who help him discover new areas of interest within tech. Having the <span>opportunity to explore his curiosity and learn more about how our company functions increases his perception of value which increases his loyalty to the company</span>.</p>


<p><strong>case study:</strong> Christina wants to learn how to code because her <span>roles require technical competencies</span>. Through the 90-day program, she learns how to program using JavaScript. She also improves her ability to continue self-propelled learning and gains a sense of accomplishment which energizes her to <span>improve and create processes that benefit her role, her team, and the company</span>.</p>


<p><strong>case study:</strong> Aubrey is learning to code in her spare time and would benefit from the <span>accountability and structure</span> provided by program. She joins the focal DL and receives regular invites, updates and information that help her discover new information about her passion. She attends the focal meetings to <span>network and collaborate with others who share interests</span>. She benefits from the resources procured and presentations coordinated by focal. She loves her current area of focus at Zappos, and enjoys <span>connecting with new people, feeling valued and trusted</span>.</p>


<p><strong>case study:</strong> Dustin has been teaching himself how to code and wants to <span>reinforce and increase technical knowledge base</span>. Through focal, he is able to mentor people who come to the focal study space which helps him to <span>feel a sense of pride and satisfaction</span>. </p>


<p><strong>case study:</strong> Jessica learns how to launch and contribute to larger projects through mentorship and networking opportunities. Learning to code is an ongoing commitment.  Focal <span>supports mentorship in the area of technology by promoting, recruiting, and creating mentors for the program</span>.</p>
 

<p><strong>case study:</strong> Kristin wants to <span>learn basic web technologies</span> and to <span>improve communication with teams she often works closely with by learning more about their skill set</span>. After interviewing with a jessica at focal, she receives a custom curriculum and meets with her learning mentor to help <span>support learnng accountabilities</span>.  Through the focal program, she is able to address her tension and feels grateful that the company supported her desire to <span>gain a broader understanding of how her roles interact with other roles and functions within the business</span>. <span>Processes and communication improve interdepartmentally</span>; Kristin’s <span>confidence and opportunities to contribute to the company in new ways increases</span>.</p>


<p><strong>case study:</strong> Heather has a <span>passion for technology</span> and aspires to <span>increase her competence</span> to apply for a position on one of our tech teams. Through the focal program she learns the skills required to become a jr. developer and successfully applies for a position within the company. By taking action steps towards her goal, she now feels fulfilled having created more opportunities for herself within the company she loves. She has been able to realize her <span>greater potential</span> and continues to <span>mentor others from her experiences</span>. 
<span>Promote from within</span>.</p>
</br>

<h2>Benefits</h2>
	<ul>
		<li>Increase technological competencies in the workforce</li> 
		<li>Improved interdepartmental communication and processes</li>
		<li>Increased ability to promote from within:</li>
			<ul>
		     	<li>Larger pool of skilled employees with interest</li>
		     	<li>On-the-job skill set training structures already in place for continued education</li>
		     </ul>
		<li>Increase in workforce's perceived valued</li>
		<li>Supports internal programs</li>
		<li>Increased self-management, problem solving, critical thinking</li>
		<li>Increased engagement and loyalty</li>
		<li>Increased connections and positive impact on company culture</li>
	</ul>
</br>
    
<h1>Tactics - Actions to accomplish goals</h1>

<p>Create a space for people to come to learn, to work on their accountabilities and homework assigned from focal, mentorship, transition support, etc., as well as independent studies.</p>
	<ul> 
     <li>Actions steps:</li>
     	<ul>
			<li>Locate a physical space on campus where employees can go to work on learning-related efforts.</li>
			<li>Communicate to employees who who have learning accountabilities that they can use this space to learn.</li>
		</ul>
     <li>Expectations</li>
		<ul>
			<li>Trust that employees will use their time effectively and with respect to their roles and business needs.</li>
		</ul>
	</ul>
</br>
<p>Create a customizable 90-day program (utilizing the Zappos mentorship program structure) addressing the unique interests and needs of each participant.</p>
	<ul>
    	<li>Action steps:</li>
    		<ul>
				<li>secure Lynda.com licenses - pending budget request</li>
				<li>create core curriculum for learning paths - completed first phase</li>
				<ul>
					<li>11 badges have been created around web technologies and front-end development technologies</li>
				</ul>
			</ul>
	</ul>
</br>	
<p>Engage Participants</p>
	<ul>
		<li>create awareness through:</li>
			<ul>
				<li>word-of mouth - competed/ongoing</li>
				<li>internal marketing - launch planned for first week of february/ongoing</li>
			</ul>
		</li>Interview participants pre-program and survey participants post-program to collect data for formative and summative evaluations
    </ul>
</br>
<p>Cultivate tech department support and mentors</p>
	<ul>
		<li>Meet with tech advocates and discuss vision, opportunities, and benefits</li>
	</ul>

    

<h4>Links</h4>
	<ul>
		<li><a href="http://smallbusiness.chron.com/advantages-being-computer-literate-workforce-27703.html">Advanages of a Computer Literate Workforce</a></li>

		<li><a href="http://www.diygenius.com/learn-to-code-online/">Learn to Code Online</a></li>

		<li><a href="http://www.inc.com/howard-tullman/the-real-benefits-of-coding.html">The Real Benefits of Coading</a></li>

		<li><a href="https://code.org/quotes">Quotes on Learning to Code</a></li>

		<li><a href="http://www.entrepreneurship.org/resource-center/what-makes-yoda-so-good-how-to-be-an-effective-mentor.aspx">How to Be an Effective Mentor</a></li>

		<li><a href="http://www.iop.org/membership/prof-dev/tools/mentoring/benefits/page_38864.html">Benefits of mentorship:</a></li>

		<li><a href="https://www.themuse.com/advice/5-strategies-that-will-turn-your-employees-into-leaders">Strategies That Will Turn Your Employees into Leaders</a> Encourage and support self-management and leadership - Focal satisfies all 5. </li>

		<li><a href="http://www.qualtrics.com/wp-content/uploads/2014/06/TNS_2703-14_ManagerTipsBook_EMAIL.pdf">Develop employees</a></li>

		<li> <a href="https://hbr.org/2011/06/the-only-thing-that-really-mat.html">The Only Thing That Really Matters</a> Employees feel valued through learning opportunities</li>

		<li><a href="http://www.forbes.com/sites/susanadams/2012/04/05/why-promoting-from-within-usually-beats-hiring-from-outside/#47aa4e703fb2">Why Promoting From Within usually Beats Hiring From Outside</a></li>
	</ul>

<h3>Education and training topics:</h3>
	<ul>
		<li>web development</li>
		<li>software training</li>
		<li>creative skills</li>
		<li>design skills</li>
		<li>web design</li>
		<li>business skills</li>
		<li>design skills</li>
	</ul>

<h3>Skills learned through focal:</h3>
	<ul>
		<li>self-management</li>
		<li>time management</li>
		<li>critical thinking</li>
		<li>problem solving</li>
		<li>computer science</li>
		<li>development</li>
		<li>specific</li>
		<li>entrepreneurial mindset</li>
	</ul>

<p>increased connections</p>
<p>Increased potential for collisions</p>

<p>Connection: people in focal connect with other people learning, and with people working in the tech department.</p>

</section>