<section class="inspiration">

	<blockquote>

		<p class="quote">
		It is better to know how to learn than to know.</p>
		<p class="credit"><strong>Dr. Seuss</strong></p>

		

	</blockquote>

	<div class="llamacorn">
		
		</div>

</section>
	

	

