<h1>S.M.A.R.T. Goals</h1>

<p>S.M.A.R.T. stands for Sepecific. Measureable, Achievable, Realistic, and Time-Bound</p>

<h2>Here are the S.M.A.R.T. Goals for FOCAL!<h2>

<h3>S.M.A.R.T. Goal 1</h3>

<p></p>


<h3>S.M.A.R.T. Goal 2</h3>

<p></p>



<h3>S.M.A.R.T. Goal 3</h3>

<p></p>