	<section class="main">
		<h1> What is Focal?</h1>

		<p>FOCAL is a collaborative learning initiative focused on learning to code. It is a community of like-minded learners who help hold each other accountable for continued learning, mentorship, building projects, and sharing resources.</p>
	</section>

	
	<section>
		<p>
		FOCAL exists for anyone who...
		</ul> 
		<li>is curious about learning to code</li>
		<li>wants to learn to create things with code</li>
		<li>has an idea for a tool that could increase efficiency of a process here at Zappos</li>
		<li>wants to home their skills by providing mentorship for others</li>
		<li>just wants to hang out with people excited about learning!</li>
		</p>
	</section>

	

