<section class="main">

	<h1>What We Offer</h1>
	<aside><!--first aside-->
		<div class="content independent">
			<h3><a href="#">Independent Study</a></h3>
			<p>Use our resources for independent study</p>
		</div><!--content-->
	</aside><!--first aside-->


	<aside><!--second aside-->
		<div class="content mentorship">
			<h3><a href="#">Mentorship Program</a></h3>
			<p>Hold yourself accountable for your goal and sign up for a 90 day mentorhsip program with 1:1 meetings, group code sessions, custom learning path and homework.</p>
		</div><!--content-->
	</aside><!--second aside-->


	<aside><!--third aside-->
		<div class="content projects">
			<h3><a href="#">Submit Project Ideas</a></h3>
			<p>Submit your ideas for tools and solutions for your circle or the company here!</p>
		</div><!--content-->
	</aside><!--second aside-->

</section><!--main-->