<section class="main">

	<h1>Why Join?</h1>

	<aside><!--first aside-->
		<div class="whyjoin">
			<h3>Reminders</h3>
			<p>Join the focal DL to receive emails and meet-up invites. Getting into the habit of consuming new, and repeating what you'e already learned is a great way to fast-forward the learning process</p>
		</div><!--content-->
	</aside><!--first aside-->


	<aside><!--second aside-->
		<div class="whyjoin">
			<h3>Repetition</h3>
			<p>Attend FOCAL meet-ups to build your skill sets and connect with other members.</p>
		</div><!--content-->
	</aside><!--second aside-->


	<aside><!--third aside-->
		<div class="whyjoin">
			<h3>Resources</h3>
			<p>Access learning tracks and find helpful resources to continue learning on your own. Feel free to use all the resources we have already collected, and the many more we add to the collection moving forward. You an also add to the stash as you discover new resources.</p>
		</div><!--content-->
	</aside><!--second aside-->

</section><!--main-->

